@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:wght@300;400&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100%;
    background: linear-gradient(#0077b6, #03045e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

/* Header */

header {
    background-color: #352315;
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo-e-nome {
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

.logo-e-nome img {
    display:  flex;
    width: 50px;
}

.logo-e-nome span {
    font-size: 1.7em;
    font-family: "Pirata One", system-ui;
}

.logx {
    font-family: "Kanit", sans-serif;
    font-size: 1.2em;
    color: white;
    margin-left: auto;
    margin-right: 20px;
}

/* Menu Lateral */

.menu-lateral {
    background-color: #3f301d;
    width: 3.7em;
    height: 92vh;
    padding: 0 0 40px 5px;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 0 0 #0077b6;
}

hr {
    opacity: 50%;
}

ul {
    height: 100%;
    list-style-type: none;
}

.menu-item a span img {
    width: 1.5em;
}

ul li.menu-item {
    transition: .2s;
    width: 3.7em;
}

ul li.menu-item:hover {
    background: rgb(0 118 182 / 90%);
    box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.688), inset -2px 0 0px rgba(255, 255, 255, 0.688), inset 0 -2px 0px rgba(255, 255, 255, 0.688);
    width: 16em;
}


.txt-link {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    display: none;
}

ul li.menu-item:hover .txt-link {
    display: block;
    white-space: nowrap;
}

ul li.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 20px 5px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.menu-icon {
    padding: 5px;
}

ul li.menu-item a .menu-icon i {
    font-size: 1.3em;
}

/* Informações da Página */

.conteudo {
    height: fit-content;
    padding-bottom: 18px;
    position: absolute;
    width: calc(100% - 6em);
    margin-bottom: 2em;
    top: 10vh;
    left: 4.8em;
    display: flex;
    justify-content: space-between;
}

/* Caixa do Perfil */

.card-perfil {
    background: #352315;
    width: 80%;
    min-height: 45em;
    max-height: fit-content;
    padding-bottom: 2em;
    border-radius: 14px;
}

.foto-perfil {
    position: absolute;
    left: 50px;
    top: 60px;
    width: fit-content;
}

.foto-perfil img {
    width: 8.125em;
    border-radius: 65px;
    border: 2px solid white;
}

.foto-perfil:hover .editar-foto {
    width: 7em;
    height: 7em;
    position: absolute;
    top: 0.5626em;
    left: 0.5625em;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3.5em;
    cursor: pointer;
}

.foto-perfil .editar-foto i {
    display: none;
}

.foto-perfil:hover .editar-foto i {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.fundo-perfil {
    overflow: hidden;
    width: 100%;
    height: 9em;
    box-shadow: 0px 2px 0px 0px white;
    background-color: #1b0d01;
    border-radius: 14px 14px 0 0;
    display: flex;
    justify-content: flex-end;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.nome-username {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nome-usuario {
    font-family: "Pirata One", system-ui;
    color: white;
    font-size: 2em;
}

.username-usuario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: white;
}

.plano {
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 1.2em;
}

.card-perfil nav {
    max-width: 100%;
    margin-left: 50px;
    margin-top: 80px;
    margin-right: 50px;
}

.card-perfil nav ul {
    display: flex;
    gap: 35px;
}

.card-perfil nav ul li {
    width: 145px;
    padding-bottom: 5px;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 1.0em;
    text-align: center;
    cursor: pointer;
}

.li-selecionada {
    border-bottom: 2px solid white;
}

/* Jogos Favoritos */

.jogos-favoritos {
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.jogos-favoritos img {
    flex: 0 1 calc(32% - 10px); 
    max-width: calc(32% - 10px); 
    cursor: pointer;
}

/* Amigos */

.amigos ul {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;
}

.amigos ul a {
    width: 100%;
}

.amigos ul li {
    background-color: #3f301d;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.amigos ul li img {
    width: 50px;
    border-radius: 25px;
    margin-left: 10px;
    border: 1px solid white;
}

.amigos ul li div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nome-amigo, .username-amigo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
}

.username-amigo {
    opacity: 0.5;
    font-size: 0.8em;
}

/* Avaliações */

.avaliacoes ul {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avaliacoes ul li {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 12px 10px 12px 10px;
    border-radius: 10px;
    gap: 10px;
    background-color: #3f301d;
}

.avaliacoes img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid white;
}

.dados-comentario {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.data-avaliacao {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 0.5;
    font-size: 0.8em;
}

.dados-comentario .nome-usuario, .dados-comentario .username-usuario {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
}

.dados-comentario .username-usuario {
    opacity: 0.5;
    font-size: 0.8em;
}

.dados-comentario .jogo-relacionado {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 0.9em;
}

.stars i {
    color: yellow;
}

.dados-comentario p {
    margin-top: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.84em;
}

/* Meus dados */

.meus-dados div {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label, span.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    display: block;
}

.dado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    opacity: 0.5;
    display: block;
    margin-bottom: 15px;
}

button {
    width: fit-content;
    padding: 4px 10px;
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 1em;
    border-radius: 8px;
    background-color: #0076b69f;
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    background-color: #0077b6;
}

.input-edicao {
    margin-bottom: 3px;
    width: fit-content;
    height: 30px;
}

.msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: white;
    margin-bottom: 15px;
}

.meus-dados div div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.meus-dados .mostra-dados button {
    margin-bottom: 8px;
}

.btn-deletar-conta {
    background-color: rgb(193, 45, 45);
}

.btn-deletar-conta:hover {
    background-color: rgb(223, 61, 61);
}

/* Lista de Amigos */

aside {
    background: #352315;
    width: 19%;
    height: 45em;
    border-radius: 14px;
}

.titulo-amigos {
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: 20px;
    left: 20px;
}

.input-box {
    height: fit-content;
    margin: 30px auto 10px auto;
    width: 90%;
}

.input-box i {
    position: absolute;
    right: 30px;
    top: 70px;
    color: rgba(255, 255, 255, 0.5);
}

input {
    background-color: #3f301d;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
    padding-left: 10px;
    outline: 0;
    caret-color: white;
    color: white;
}

.container-amigos ul {
    max-width: 90%;
    max-height: fit-content;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-amigos ul li {
    background-color: #3f301d;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.container-amigos ul li img {
    width: 50px;
    border-radius: 25px;
    margin-left: 10px;
    border: 1px solid white;
}

.container-amigos ul li div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nome-amigo, .username-amigo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
}

.username-amigo {
    opacity: 0.5;
    font-size: 0.8em;
}

/* Modal */

.janela-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
}

/* Modal Exclusão */

.modal-excluir-conta {
    width: 700px;
    height: 200px;
    background-color: #352315;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    align-self: center;
    padding: 30px 0 30px 30px;
    border: 3px solid #0077b6;
    text-align: center;
    flex-direction: column;
    padding-right: 30px;
    align-items: center;
}

.modal-excluir-conta p {
    color: white;
    font-size: 1.1em;
    font-family: "Kanit", sans-serif;
}

.input-passw-box {
    margin: 10px auto 30px auto;
    position: relative;
}

#senha-para-exclusao {
    width: 100%;
    font-size: 1em;
    padding-right: 2.4em;
}

.input-passw-box i {
    font-size: 1.1em;
    color: white;
    position: absolute;
    top: 0.7em;
    right: 10px;
    cursor: pointer;
}

.input-passw-box span {
    display: none;
    color: white;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 42px;
}

.modal-excluir-conta div {
    display: flex;
    gap: 10px;
}

.btn-confirmar-exclusao {
    background-color: rgb(193, 45, 45);
}

.btn-confirmar-exclusao:hover {
    background-color: rgb(223, 61, 61);
}

/* Modal Foto*/

.modal-foto {
    width: 700px;
    height: 400px;
    background-color: #352315;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    align-self: center;
    padding: 30px 0 30px 30px;
    border: 3px solid #0077b6;
}

.container-foto-atual {
    width: 35%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-foto-atual div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-foto-atual img {
    width: 7.5em;
    border-radius: 120px;
    border: 2px solid white;
    margin-bottom: 5px;
}

.container-foto-atual span {
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 1.1em;
}

.container-foto-atual button {
    width: 8em;
    margin-bottom: 5px;
}

.opcoes-fotos {
    display: grid;
    width: 65%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 5px;
    column-gap: 7px;
}

.opcoes-fotos img {
    width: 6em;
    border-radius: 96px;
    border: 2px solid white;
    cursor: pointer;
}

.opcoes-fotos button {
    position: relative;
    width: 6.5em;
    height: 6.5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 104px;
    border: 2px solid white;
    overflow: hidden;
}

.opcoes-fotos button input {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 7em;
    height: 7em;
    border-radius: 104px;
    opacity: 0;
    cursor: pointer;
}

.opcoes-fotos button:hover {
    background-color: black;
}

.opcoes-fotos button i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.3em;
}

.foto-selecionada {
    border: 3px solid yellow;
}

/* Mensagem do topo */

.bloco-msg-topo {
    width: fit-content;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0076b6;
    border: 2px solid rgba(255, 255, 255, 0.527);
    z-index: 100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.bloco-msg-topo span {
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 1em;
}

