@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:wght@300;400&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    max-width: 100%;
    background: linear-gradient(#0077b6, #03045e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

header {
    background-color: #352315;
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo-e-nome {
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
    padding-left: 15px;
}

.logo-e-nome img {
    display: flex;
    width: 50px;
}

.logo-e-nome span {
    font-size: 1.7em;
    font-family: "Pirata One", system-ui;
}

.logx {
    font-family: "Kanit", sans-serif;
    font-size: 1.2em;
    color: white;
    margin-left: auto;
    margin-right: 20px;
}

.menu-lateral {
    background-color: #3f301d;
    width: 3.7em;
    height: 92vh;
    padding: 0 0 40px 5px;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 0 0 #0077b6;
}

hr {
    opacity: 50%;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.menu-item {
    transition: .2s;
    width: 3.7em;
}

ul li.menu-item:hover {
    background: rgb(0 118 182 / 90%);
    box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.688), inset -2px 0 0px rgba(255, 255, 255, 0.688), inset 0 -2px 0px rgba(255, 255, 255, 0.688);
    width: 16em;
}

.txt-link {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    display: none;
}

ul li.menu-item:hover .txt-link {
    display: block;
    white-space: nowrap;
}

ul li.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 20px 5px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.menu-icon {
    padding: 5px;
}

ul li.menu-item a .menu-icon i {
    font-size: 1.3em;
}

.conteudo {
    min-height: 90vh;
    padding-bottom: 25px;
    position: absolute;
    width: calc(100% - 6em);
    margin-bottom: 2em;
    top: 10vh;
    left: 4.8em;
    display: flex;
    justify-content: space-between;
}

.pagamentos-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    background: #352315;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: "Kanit", sans-serif;
}

.pagamentos-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.historico-pagamentos-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.historico-pagamentos {
    width: 100%;
    border-collapse: collapse;
}

.historico-pagamentos th,
.historico-pagamentos td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: left;
}

.historico-pagamentos tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.05);
}

.pagamentos-acoes {
    display: flex;
    justify-content: space-around;
}

.pagamentos-acoes button {
    background-color: #0076b69f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: "Kanit", sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-bottom: 5%;
    border: 1px solid white;
}

.pagamentos-acoes button:hover {
    background-color: #0077b6;
}
